{% extends "base.html" %}

{% block title %}Генератор пользователей{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Генератор пользователей</h1>
    <p>Нажмите кнопку ниже, чтобы сгенерировать пользователей в базе данных, после этого вас переведет на панель администратора.</p>
    <form method="post" action="{% url 'generate_users' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Генерировать пользователей</button>
    </form>

    <a href="/admin/" class="btn btn-secondary mt-3">Перейти в админку</a>

    <a href="/contact/list" class="btn btn-secondary mt-3">Кнопка для просмотра всех пользователей</a>
</div>
{% endblock %}
